<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>监测系统</title>
    <!-- Bootstrap Styles-->
    <link href="/publisher/css/bootstrap3.3.4.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/publisher/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/publisher/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" type="text/css" href="/css/admin/tab.css">

    <link rel="stylesheet" type="text/css" href="/css/admin/tachyons.min.css">

    <link rel="stylesheet" type="text/css" href="/css/admin/datatables.css"/>

    <link rel="stylesheet" href="/css/admin/vex.css" />
    <link rel="stylesheet" href="/css/admin/vex-theme-default.css" />

    <script src="/js/util/cookie.js"></script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="text-align: center" href=""><strong>YYM</strong></a>

                <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i><span id="userId" style="color: #ffe4b5">username&nbsp;</span><i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" onclick="logout()"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a class="active-menu" href="#"><i class="fa fa-bar-chart-o"></i> 系统信息</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                    系统状态监测 <small>Monitoring System.</small>
                </h1>
            </div>
            <div id="page-inner" class="container">
                <ul id="tabs" class="fl w-100 bb">
                    <li><a href="#" name="#tab1">概览</a></li>
                    <li><a href="#" name="#tab2">用户管理</a></li>
                    <li><a href="#" name="#tab3">系统信息</a></li>
                    <li><a href="#" name="#tab4">项目信息</a></li>
                </ul>
                <div id="content" class="fl w-100 mt3">
                    <div id="tab1">
                        <div class="fl w-70">
                            <!--排行榜-->
                            <h1>工作者Top100</h1>
                            <table id="workerTop100" class="display w-100"></table>
                        </div>
                        <div class="fl w-30 pl5">
                            <!--数据概览-->
                            <h1>系统概况</h1>
                            <h3 class="db pb2">用户数量</h3>
                            <dl class="fl dib w-50 bb">
                                <dt class="db f7 mt2 pt2">发布者</dt>
                                <dd class="b f3 f2-ns mb2 mt2"><a href="#" id="publisherNum">998</a></dd>
                            </dl>
                            <dl class="fl dib w-50 bb">
                                <dt class="db f7 mt2 pt2">工作者</dt>
                                <dd class="b f3 f2-ns mb2 mt2"><a id="workerNum">21474836</a></dd>
                            </dl>
                            <dl class="fl dib w-50 bb">
                                <dt class="db f7 mt2 pt2">历史项目总数</dt>
                                <dd class="b f3 f2-ns mb2 mt2"><a id="historyProjectNum">998</a></dd>
                            </dl>
                            <dl class="fl dib w-50 bb">
                                <dt class="db f7 mt2 pt2">当前项目总数</dt>
                                <dd class="b f3 f2-ns mb2 mt2"><a id="ongoingProjectNum">21474836</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div id="tab2">
                        <div class="fl w-100 bb pb4 mb5">
                            <h1>发布者</h1>
                            <table id="publishers" class="display w-100"></table>
                        </div>
                        <div class="fl w-100 bb pb4 mb5">
                            <h1>工作者</h1>
                            <table id="workers" class="display w-100"></table>
                        </div>
                    </div>
                    <div id="tab3">
                        <ul class="nav nav-tabs fl w-100">
                            <li class="active"><a href="#customerDiv" data-toggle="tab">注册人数统计</a></li>
                            <li><a href="#projectsDiv" data-toggle="tab">项目数量统计</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content fl">
                            <div class="tab-pane fade in active fl w-100" id="customerDiv">
                                <div class="fl w-100 bb pb4 mb5">
                                    <h1>工作者</h1>
                                    <div id="workerRegChart" class="fl" style="width: 1200px;height:774px;"></div>
                                </div>
                                <div class="fl w-100 bb pb4 mb5">
                                    <h1>发布者</h1>
                                    <div id="publisherRegChart" class="fl" style="width: 1200px;height:774px;"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade fl w-100" id="projectsDiv">
                                <div class="fl w-100 bb pb4 mb5">
                                    <h1>项目数量</h1>
                                    <div id="projectInfoChart" class="fl" style="width: 1200px;height:774px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab4">
                        <ul class="nav nav-tabs fl w-100">
                            <li class="active"><a href="#projectInfoDiv" data-toggle="tab">项目信息统计</a></li>
                            <li><a href="#projectsListDiv" data-toggle="tab">项目列表</a></li>
                        </ul>
                        <div id="extraTabContent" class="tab-content fl">
                            <div class="tab-pane fade in active fl w-100" id="projectInfoDiv">
                                <div class="fl w-100 bb pb4 mb5">
                                    <h1>项目类型统计</h1>
                                    <div id="projectTypeChart" class="fl" style="width: 1200px;height:774px;"></div>
                                </div>
                                <div class="fl w-100 bb pb4 mb5">
                                    <h1>项目领域统计</h1>
                                    <div id="projectLabelChart" class="fl" style="width: 1200px;height:774px;"></div>
                                </div>
                                <div class="fl w-100 bb pb4 mb5">
                                    <h1>项目报酬统计</h1>
                                    <div id="projectPaymentChart" class="fl" style="width: 1200px;height:774px;"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade fl w-100" id="projectsListDiv">
                                <div class="fl w-100 bb pb4 mb5">
                                    <h1>项目列表</h1>
                                    <table id="projectList" class="display w-100"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- jQuery Js -->
    <script src="/publisher/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/publisher/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/publisher/js/jquery.metisMenu.js"></script>

    <script  src="/js/admin/datatables.js"></script>

    <script src="/js/util/echarts.js"></script>

    <script  src="/js/admin/dataTool.js"></script>

    <script src="/js/admin/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-default'</script>

    <!-- Custom Js -->
    <script src="/js/admin/custom-scripts.js"></script>

</body>
</html>
