<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>上传测试集</title>
    <!-- Bootstrap Styles-->
    <link href="/publisher/css/bootstrap3.3.4.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/publisher/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/publisher/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="/publisher/css/fileUploadStyle.css">

    <!--x-editable引用-->
    <script src="/publisher/table/jquery/jquery-1.9.1.min.js"></script>
    <!--<script src="publisher/js/jquery-1.10.2.js"></script>-->

    <script src="/publisher/table/mockjax/jquery.mockjax.js"></script>

    <!-- momentjs -->
    <script src="/publisher/table/momentjs/moment.min.js"></script>

    <!-- select2 -->
    <link href="/publisher/table/select2/select2.css" rel="stylesheet">
    <script src="/publisher/table/select2/select2.js"></script>

    <link href="/css/JQUI/jquery-ui.css" rel="stylesheet" />
    <link href="/css/JQUI/jquery-ui.theme.css" rel="stylesheet" />
    <link href="/css/JQUI/jquery-ui.structure.css" rel="stylesheet" />

    <script src="/js/JQUI/jquery-ui.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <!-- bootstrap 3 -->
    <link href="/publisher/table/bootstrap300/css/bootstrap.css" rel="stylesheet">
    <script src="/publisher/table/bootstrap300/js/bootstrap.js"></script>
    <!--<script src="publisher/js/bootstrap.min.js"></script>-->

    <!-- bootstrap-datetimepicker -->
    <link href="/publisher/table/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet">
    <script src="/publisher/table/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

    <!-- x-editable (bootstrap 3) -->
    <link href="/publisher/table/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="/publisher/table/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>

    <!-- select2 bootstrap -->
    <link href="/publisher/table/select2/select2-bootstrap.css" rel="stylesheet">

    <!-- wysihtml5 -->
    <link href="/publisher/table/x-editable/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet">
    <script src="/publisher/table/x-editable/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/wysihtml5-0.3.0.min.js"></script>
    <script src="/publisher/table/x-editable/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.min.js"></script>
    <script src="/publisher/table/x-editable/inputs-ext/wysihtml5/wysihtml5.js"></script>

    <script src="/js/util/cookie.js"></script>


    <link href="/publisher/table/demo-bs3.css" rel="stylesheet">

</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="text-align: center" href=""><strong>YYM</strong></a>

            <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i><span id="userId" style="color: #ffe4b5">username&nbsp;</span><i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#" id="profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0);" onclick="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a href="/"><i class="fa fa-dashboard"></i> 主页</a>
                </li>
                <li>
                    <a class="active-menu" href="#"><i class="fa fa-desktop"></i> 发布</a>
                </li>
                <li>
                    <a href="/project/publisherProjects"><i class="fa fa-bar-chart-o"></i> 项目</a>
                </li>
                <li>
                    <a href="/project/publisher/projectDetail"><i class="fa fa-qrcode"></i> 进度</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table"></i> 标签</a>
                </li>
                <!--<li>-->
                <!--<a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level">-->
                <!--<li>-->
                <!--<a href="#">Second Level Link</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#">Second Level Link</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#">Second Level Link<span class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-third-level">-->
                <!--<li>-->
                <!--<a href="#">Third Level Link</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#">Third Level Link</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#">Third Level Link</a>-->
                <!--</li>-->

                <!--</ul>-->

                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                上传测试集
            </h1>
        </div>
        <div style="text-align:center;background: #8d8888">
            <hr style="height: 2px" />
        </div>
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    项目ID:<span id="projectId"></span><br/>
                    项目名:<span id="projectNameDisp"></span>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="agile-its">
                            <h1>上传数据集</h1>
                            <div class="w3layouts">
                                <h5>在提交之前请先上传数据集. 你可以点击选择文件,或者拖动文件到文件框内.</h5>
                                <br/>
                                <div class="photos-upload-view">
                                    <form id="upload" action="" method="POST" enctype="multipart/form-data">
                                        <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
                                        <br/>
                                        <div class="agileinfo">
                                            <input id="submitbutton" type="submit" class="choose" value="选择文件..">
                                            <br/>
                                            <br/>
                                            <h3>OR</h3>
                                            <input type="file" style="width: 1000px" id="fileselect" name="fileselect[]" multiple="multiple" />
                                            <div id="filedrag">拖动文件到这里</div>
                                        </div>
                                    </form>
                                    <div id="messages">
                                        <p>状态信息</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2" style="padding: 20px 0 0 0">
                    <button id="confirm" type="button" onclick="uploadTestSet()" class="btn btn-outline-success btn-lg">
                        提交
                    </button>
                </div>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->

<!-- Metis Menu Js -->
<script src="/publisher/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="/publisher/js/morris/raphael-2.1.0.min.js"></script>
<script src="/publisher/js/morris/morris.js"></script>


<script src="/publisher/js/easypiechart.js"></script>
<script src="/publisher/js/easypiechart-data.js"></script>

<script src="/publisher/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="/publisher/js/custom-scripts.js"></script>

<script src="/publisher/table/demo-mock.js"></script>
<script src="/publisher/table/demo.js"></script>

<script src="/publisher/js/publishTest.js"></script>
</body>
</html>
