<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Publish your Project</title>
	<!-- Bootstrap Styles-->
    <link href="/publisher/css/bootstrap3.3.4.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/publisher/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="/publisher/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="/publisher/css/fileUploadStyle.css">

    <!--x-editable引用-->
    <script src="/publisher/table/jquery/jquery-1.9.1.min.js"></script>
    <!--<script src="/publisher/js/jquery-1.10.2.js"></script>-->

    <script src="/publisher/table/mockjax/jquery.mockjax.js"></script>

    <!-- momentjs -->
    <script src="/publisher/table/momentjs/moment.min.js"></script>

    <!-- select2 -->
    <link href="/publisher/table/select2.css" rel="stylesheet" />
    <script src="/publisher/table/select2.js"></script>

    <link href="/css/JQUI/jquery-ui.css" rel="stylesheet" />
    <link href="/css/JQUI/jquery-ui.theme.css" rel="stylesheet" />
    <link href="/css/JQUI/jquery-ui.structure.css" rel="stylesheet" />

    <script src="/js/JQUI/jquery-ui.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <!-- bootstrap 3 -->
    <link href="/publisher/table/bootstrap300/css/bootstrap.css" rel="stylesheet">
    <script src="/publisher/table/bootstrap300/js/bootstrap.js"></script>
    <!--<script src="/publisher/js/bootstrap.min.js"></script>-->

    <!-- x-editable (bootstrap 3) -->
    <link href="/publisher/table/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="/publisher/table/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>

    <!-- wysihtml5 -->
    <link href="/publisher/table/x-editable/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet">
    <script src="/publisher/table/x-editable/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/wysihtml5-0.3.0.min.js"></script>
    <script src="/publisher/table/x-editable/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.min.js"></script>
    <script src="/publisher/table/x-editable/inputs-ext/wysihtml5/wysihtml5.js"></script>

    <script src="/js/util/cookie.js"></script>


    <link href="/publisher/table/demo-bs3.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><strong>YYM CrowedSource</strong></a>

                <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Doe</strong>
                                    <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">28% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                            <span class="sr-only">28% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">85% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                            <span class="sr-only">85% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i><span id="userId" style="color: #ffe4b5">username&nbsp;</span><i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#" id="profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" onclick="logout()"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="/"><i class="fa fa-dashboard"></i> 主页</a>
                    </li>
                    <li>
                        <a class="active-menu" href="#"><i class="fa fa-desktop"></i> 发布</a>
                    </li>
					<li>
                        <a href="/project/publisherProjects"><i class="fa fa-bar-chart-o"></i> 项目</a>
                    </li>
                    <li>
                        <a href="/project/publisher/projectDetail"><i class="fa fa-qrcode"></i> 进度</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table"></i> 标签</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-second-level">-->
                            <!--<li>-->
                                <!--<a href="#">Second Level Link</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Second Level Link</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Second Level Link<span class="fa arrow"></span></a>-->
                                <!--<ul class="nav nav-third-level">-->
                                    <!--<li>-->
                                        <!--<a href="#">Third Level Link</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">Third Level Link</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">Third Level Link</a>-->
                                    <!--</li>-->

                                <!--</ul>-->

                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                  Publish <small>Publish your project.</small>
                </h1>
            </div>
            <div style="text-align:center;background: #8d8888">
                <hr style="height: 2px" />
            </div>
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="agile-its">
                                    <h1>上传数据集</h1>
                                    <div class="w3layouts">
                                        <h5>在提交之前请先上传数据集. 你可以点击选择文件,或者拖动文件到文件框内.</h5>
                                        <br/>
                                        <div class="photos-upload-view">
                                            <form id="upload" action="" method="POST" enctype="multipart/form-data">
                                                <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
                                                <br/>
                                                <div class="agileinfo">
                                                    <input id="submitbutton" type="submit" class="choose" value="选择文件..">
                                                    <br/>
                                                    <br/>
                                                    <h3>OR</h3>
                                                    <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
                                                    <div id="filedrag">拖动文件到这里</div>
                                                </div>
                                            </form>
                                            <div id="messages">
                                                <p>状态信息</p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div style="width: 90%; margin: auto;background: #FFFFFF;">
                                    <h1>项目要求</h1>
                                    <h2>&nbsp;注意</h2>
                                    <p>&nbsp;这里填一下以下各项的解释和要求</p>
                                    <br/>
                                    <div style="float: right; margin-bottom: 10px">
                                        <label style="display: inline-block; margin-right: 50px"><input type="checkbox" id="autoopen" style="vertical-align: baseline">&nbsp;自动开启下一行文本域</label>
                                        <!--<button id="enable" class="btn btn-default">enable / disable</button>-->
                                    </div>
                                    <table id="user" class="table table-bordered table-striped" style="clear: both">
                                        <tbody>
                                        <tr>
                                            <td>项目名称</td>
                                            <td><a href="#" id="projectName" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="给你的项目起个有吸引力的名字吧"></a></td>
                                        </tr>
                                        <tr>
                                            <td>标注类型</td>
                                            <td><a href="#" id="markMode" data-type="select" data-pk="1" data-value="" data-title="选择你想要的标注类型"></a></td>
                                        </tr>
                                        <tr>
                                        <td>项目类型</td>
                                        <td>
                                            <select id="tags" multiple="multiple" style="width: 100%">
                                            </select>
                                        </td>
                                        </tr>
                                        <tr>
                                            <td>每张图片最大工作者数</td>
                                            <td><a href="#" id="maxNumPerPic" data-type="select" data-pk="1" data-value="" data-title="选择每张图片的最大工作者数"></a></td>
                                        </tr>
                                        <tr>
                                            <td>每张图片最低工作者数</td>
                                            <td><a href="#" id="minNumPerPic" data-type="select" data-pk="1" data-value="" data-title="选择每张图片的最低工作者数"></a></td>
                                        </tr>
                                        <tr>
                                            <td>最低等级</td>
                                            <td><a href="#" id="levelLimit" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="选择对于参与你的项目的工作者的等级限制"></a></td>
                                        </tr>
                                        <tr>
                                            <td>测试准确率限制</td>
                                            <td><a href="#" id="testAccuracy" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="准确率限制越高准确度越高,但数据量越少 分数范围0~100%"></a></td>
                                        </tr>
                                        <!--这里直接用JQ的datepicker-->
                                            <td>结束时间</td>
                                            <td><input type="text" id="endDate" size="30"></td>
                                        </tr>
                                        <script>
                                            $(function() {
                                                $( "#endDate" ).datepicker({
                                                    changeMonth: true,
                                                    changeYear: true
                                                });
                                                $( "#endDate" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
                                                $( "#endDate" ).datepicker( "option", "showAnim","slideDown");
                                            });
                                        </script>
                                        <tr>
                                            <td>报酬</td>
                                            <td><a href="#" id="payment" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="你提供的报酬将平分给完成工作的工作者"></a></td>
                                        </tr>
                                        <tr>
                                            <td>标注要求<a href="#" id="pencil"><i class="icon-pencil" style="padding-right: 5px"></i>[edit]</a></td>
                                            <td>
                                                <div id="note" data-pk="1" data-type="wysihtml5" data-toggle="manual" data-title="Enter notes" data-placement="top">
                                                    <h3>标注要求</h3>
                                                    请在这里填写你想要工作者注意到的 <i>补充要求</i> ,可以尽量限制工作者自由发挥的空间.<br>
                                                    包括但不限于:
                                                    <ul>
                                                        <li>1.</li>
                                                        <li>2.</li>
                                                        <li>3.</li>
                                                    </ul>
                                                    (建议将默认文本删除)
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2" style="padding: 20px 0 0 0">
                        <button id="confirm" type="button" onclick="uploadDataSet()" class="btn btn-outline-success btn-lg">
                            提交
                        </button>
                    </div>
                </div>
            </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->

    <!-- Metis Menu Js -->
    <script src="/publisher/js/jquery.metisMenu.js"></script>

    <!-- Custom Js -->
    <script src="/publisher/js/custom-scripts.js"></script>

    <script src="/publisher/table/demo-mock.js"></script>
    <script src="/publisher/table/demo.js"></script>

    <script src="/publisher/js/publish.js"></script>
</body>
</html>
