@charset "UTF-8";

#table_exp{
    width: 400px;
    background-color: #8fcafe;
    position: relative;
    left: 200px;
}

#table_accuracy{
    width: 400px;
    background-color: rgba(255,163,131,0.44);
    position: relative;
    left: 200px;
}

#accu_header{
    position: relative;
    position: relative;
    left: 200px;

}

#exp_header{
    position: relative;
    position: relative;
    left: 200px;

}

#selector_label{
    position: relative;
    position: relative;
    left: 200px;

}
