@charset "UTF-8";

#table_exp{
    width: 400px;
    background-color: #8fcafe;
}

#table_accuracy{
    margin: 20px;
    width: 400px;
    background-color: rgba(255,163,131,0.44);
    position: relative;
    top: -180px;
    left: 500px;
}

#accu_header{
    position: relative;
    top: -135px;
    left: 500px;
}

#selector_label{
    position: relative;
    top: -160px;
    left: 620px;
}