@charset "UTF-8";

#second_area{
    position: relative;
    left: 0px;
    top: -400px;
}

#third_area{
    position: relative;
    left: 400px;
    top: -400px;
}

#information_area{
	position: relative;
    top: -300px;
}

