@charset "UTF-8";

#second_area{
    position: relative;
    left: 400px;
    top: -300px;
}

#information_area{
	position: relative;
    top: -300px;
}

#my_hr{
	position: relative;
    z-index: 10;
    color: #2c3b4e;
}