@charset "UTF-8";

#second_area{
    position: relative;
    left: 0px;
    top: -400px;
}

#third_area{
    position: relative;
    left: 530px;
    top: -450px;
}

#prompt_area{
    position: relative;
    left: 500px;
    top: -800px;
}

#information_area{
	position: relative;
    top: -300px;
}

#prompt_area_2{
    background-color: rgba(255,150,69,0.72);
    border-width: thin;
    border-style: inset;
    border-radius: 50px;
    position: relative;
    left: 300px;
    top: -1420px;
    width: 400px;
    height: 400px;
}