<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>你的项目</title>
	<!-- Bootstrap Styles-->
    <link href="/publisher/css/bootstrap3.3.4.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/publisher/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/publisher/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <!--项目列表用到的引用-->
    <link rel="stylesheet" type="text/css" href="/publisher/css/style.css">
    <!-- jQuery Js -->
    <script src="/publisher/js/jquery-1.10.2.js"></script>
    <script src="/js/util/cookie.js"></script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><strong>YYM CrowedSource</strong></a>

                <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Doe</strong>
                                    <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">28% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                            <span class="sr-only">28% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">85% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                            <span class="sr-only">85% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i><span id="userId" style="color: #ffe4b5">username&nbsp;</span><i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" onclick="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="/"><i class="fa fa-dashboard"></i> Home</a>
                    </li>
                    <li>
                        <a  href="/publisherPage/publish"><i class="fa fa-desktop"></i> Publish</a>
                    </li>
                    <li>
                        <a class="active-menu" href="#"><i class="fa fa-bar-chart-o"></i> Projects</a>
                    </li>
                    <li>
                        <a href="/project/publisher/projectDetail"><i class="fa fa-qrcode"></i> Progress</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table"></i> Tags</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>-->
                    <!--<ul class="nav nav-second-level">-->
                    <!--<li>-->
                    <!--<a href="#">Second Level Link</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">Second Level Link</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">Second Level Link<span class="fa arrow"></span></a>-->
                    <!--<ul class="nav nav-third-level">-->
                    <!--<li>-->
                    <!--<a href="#">Third Level Link</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">Third Level Link</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#">Third Level Link</a>-->
                    <!--</li>-->

                    <!--</ul>-->

                    <!--</li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                    Projects <small>Type something here.</small>
                </h1>
            </div>
            <div style="text-align:center;background: #8d8888">
                <hr style="height: 2px" />
            </div>
            <div id="page-inner">
                <div class="container-fluid">
                    <div class="row" style="margin: 10px -2px 10px -2px">
                        <div class="col-md-12">
                            <form role="form" class="pull-right">
                                <div class="form-group">
                                    <label for="search">关键词搜索</label>
                                    <input type="text" class="form-control pull-right" id="search"/>
                                    <input type="button" onclick="searchFunc();" class="btn btn-primary pull-right" value="确认" style="font-family: 'Adobe 宋体 Std L';margin-top: 10px"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="content">
                    <!--<div class="single-member effect-4">-->
                        <!--<div class="member-info">-->
                            <!--<h3>ProjectName</h3>-->
                            <!--<h5>Publisher</h5>-->
                        <!--</div>-->
                        <!--<div class="member-image">-->
                            <!--<img src="/publisher/img/member_270x210.jpg" alt="Member">-->
                        <!--</div>-->
                        <!--<div class="more-info">-->
                            <!--<p>Description要做一下长度检测，防止把按钮顶没了</p>-->
                            <!--<div>-->
                                <!--<a onclick="window.location.href='这里填链接，是字符串'" class="button" style="cursor: pointer;">More</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->

    <!-- Bootstrap Js -->
    <script src="/publisher/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/publisher/js/jquery.metisMenu.js"></script>

    <!-- Custom Js -->
    <script src="/publisher/js/custom-scripts.js"></script>

    <script>
        function loadProject(){
            var id = getCookie("userId");
            $.ajax({
                url: "/project/publisherProjects",
                type: "post",
                data:{
                    "userId":id,
                    "keyword":""
                },
                success : function(data){
                    adjustPage(data)
                },
                error : function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest+"///"+textStatus+"///"+errorThrown);
                },
            });
        }

        function searchFunc(){
            var id = getCookie("userId");
            $("#content").empty();
            var key=$("#search").val();
            $.ajax({
                url: "/project/publisherProjects",
                type: "post",
                data:{
                    "userId":id,
                    "keyword":key
                },
                success : function(data){
                    adjustPage(data)
                },
                error : function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest+"///"+textStatus+"///"+errorThrown);
                },
            });
        }

        function adjustPage(projectList) {
            $("#content").empty();
            if(projectList==="")
                return;
            var arr = projectList.split("+");
            var len = arr.length;
            for(var i = 0;i < len;){
                var sep=arr[i].split('_');//sep[0]是项目名，sep[1]是发布者Id，sep[2]是项目描述,sep[3]是项目id,sep[4]是缩略图路径
                if(strlen(sep[2])>110)
                    sep[2]=sep[2].trim().replace(/\s+/g, ' ').substring(0,80)+"...";
                $("#content").append("<div class=\"single-member effect-4\">\n" +
                    "                        <div class=\"member-info\">\n" +
                    "                            <h3>"+sep[0]+"</h3>\n" +
                    "                            <h5>"+sep[1]+"</h5>\n" +
                    "                        </div>\n" +
                    "                        <div class=\"member-image\">\n" +
                    "                            <img src=\""+sep[4]+"\" alt=\"Member\">\n" +
                    "                        </div>\n" +
                    "                        <div class=\"more-info\">\n" +
                    "                            <p>"+sep[2]+"</p>\n" +
                    "                            <div>\n" +
                    "                                <a onclick=\"window.location.href='/project/publisher/projectDetail',setCookie('projectId','"+sep[3]+"','1'),setCookie('publisherId','"+sep[1]+"','1');\" class=\"button\" style=\"cursor: pointer;\">项目详情</a>\n" +
                    "                            </div>\n" +
                    "                        </div>\n" +
                    "                    </div>");
                i++;
                if(i==len){
                    break;
                }
            }
        }

        function strlen(str) {
            ///<summary>获得字符串实际长度，中文2，英文1</summary>
            ///<param name="str">要获得长度的字符串</param>
            var realLength = 0, len = str.length, charCode = -1;
            for (var i = 0; i < len; i++) {
                charCode = str.charCodeAt(i);
                if(charCode==32){
                    continue;
                }
                if (charCode >= 0 && charCode <= 128)
                    realLength += 1;
                else
                    realLength += 2;
            }
            return realLength;
        };

        window.onload=function () {
            document.getElementById("userId").innerHTML=getCookie("userId")+"&nbsp;";
            loadProject();
        }
    </script>

</body>
</html>
